<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thefirstpillar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheFirstPillar">
        <activity
            android:name=".chela_dowm"
            android:exported="false" />
        <activity
            android:name=".inispirational_gallery"
            android:exported="false" />
        <activity
            android:name=".schedule_one"
            android:exported="false" />
        <activity
            android:name=".chela_awal"
            android:exported="false" />
        <activity
            android:name=".sonat_ma"
            android:exported="false" />
        <activity
            android:name=".azkar_sharif"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>